<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - weekday</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/webpixels.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Manager/manager.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/weekday.styles.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
</head>
<body>
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-gray-100">
  <!-- Vertical Navbar -->
  <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 py-lg-0 navbar-light bg-light border-end-lg position-fixed" id="navbarVertical" style="height: 100vh;overflow-y: auto;">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand py-lg-5 mb-lg-5 px-lg-6 me-0" href="#">
        <img src="https://preview.webpixels.io/web/img/logos/clever-primary.svg" alt="...">
      </a>
      <!-- User menu (mobile) -->
      <div class="navbar-user d-lg-none">
        <!-- Dropdown -->
        <div class="dropdown">
          <!-- Toggle -->
          <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar bg-warning rounded-circle text-white">
              <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
            </div>
          </a>
          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <div class="dropdown-item">
              <span class="d-block text-sm text-muted mb-1">Signed in as</span>
              <span class="d-block text-heading font-semibold">Heather Wright</span>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>
      </div>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse">
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" asp-page="../Index">
              <i class="fa-solid fa-house"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-page="../Manager/Dashboard">
              <i class="fa-solid fa-layer-group"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-page="../Manager/AddEmployees">
              <i class="fa-solid fa-people-group"></i> Add Employees
            </a>
          </li>
          <li class="nav-item ">
            <div class="nav-link">
              <div class="dropdown"><i class="fa-solid fa-bars-progress"></i>
                        <button class="bg-white dropdown-toggle rounded-1" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 500;">
                            Projects
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" asp-page="../Manager/RecentProject"><i class="fa-solid fa-diagram-project"></i>Recent Projects</a></li>
                            <li><a class="dropdown-item" asp-page="../Manager/PastProject"><i class="fa-solid fa-diagram-project"></i>Past Projects</a></li>
                        </ul>
                </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-chat"></i> Messages
              <span class="badge bg-opacity-30 bg-primary text-primary rounded-pill d-inline-flex align-items-center ms-auto">6</span>
            </a>
          </li>
          
        </ul>
        <!-- Divider -->
        <hr class="navbar-divider my-5 opacity-20">
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-4">
          <li class="nav-item">
            
          </li>
        </ul>
       
        <div class="mt-auto"></div>
        
        <ul class="navbar-nav mb-5">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa-regular fa-user"></i>Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-page="../Manager/logout">
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Main content -->
  <div class="h-screen px-3 px-lg-7 flex-grow-1" style="margin-left: 250px;">
    <header class="bg-surface-secondary ">
      <div class="container-xl">
        <div class="py-5 border-bottom">
          <!-- Page heading -->
          <div>
            <div class="row align-items-center">
              <div class="col-md-6 col-12 mb-3 mb-md-0">
                <!-- Title -->
                <h1 class="h2 mb-0 ls-tight"></h1>
              </div>
              <!-- Actions -->
              <div class="col-md-6 col-12 text-md-end">
                <div class="mx-n1">
                  
                  <a asp-page="../Manager/CreateProjects" class="btn d-inline-flex btn-sm btn-primary mx-1">
                    <span class=" pe-2">
                      <i class="bi bi-plus"><i class="fa-solid fa-plus" style="color: #ffffff;"></i></i>
                    </span>
                    <span>Add Projects</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="py-10 bg-surface-secondary ">
      <!-- Container -->
      <div class="container-xl">
        <div class="bg-surface-secondary h-full border-dashed rounded d-flex flex-column justify-content-center align-items-center" style="min-height: 400px; width: 100%;">
          <div class="display-4 font-semibold text-muted opacity-100 w-full">
            @RenderBody()
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

