body {
}

/* Hide scrollbar but keep scroll functionality */
.card-scroll {
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.card-scroll::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

.profile-dropdown .dropdown-menu {
    min-width: 300px;
    max-height: 300px; /* Fixed height */
    overflow-y: auto; /* Scrollable */
    padding: 0; /* Remove default padding */
}
   
/* Hide scrollbar for Chrome, Safari and Opera */
.profile-dropdown .dropdown-menu::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.profile-dropdown .dropdown-menu {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.profile-list {
    max-height: 250px;
    overflow-y: auto;
}

.profile-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.profile-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
 }

.task-cards:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add hover effect */
    cursor: pointer;
}

