@page
@model weekday.Pages.NormalExceptionPage
@{
    Layout = null;
    var errormessage = Request.Query["error"];
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/webpixels.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/weekday.styles.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css" integrity="sha512-9xKTRVabjVeZmc+GUW8GgSmcREDunMM+Dt/GrzchfN8tkwHizc5RP4Ok/MXFFy5rIjJjzhndFScTceq5e6GvVQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />  

    <div class="d-flex align-items-center justify-content-center bg-dark" style="width: 100%; height: 100vh;">
        <div class="d-flex flex-column align-items-center justify-content-center ">
            <p class="fs-2 text-danger">@errormessage</p>
            <hr class="" style="color: white; background-color: white; width: 50%;">
            <p class="text-white fs-5">Internal Server Error! Try after sometime <i class="fa-solid fa-lock text-danger ms-4 fs-2"></i></p>
            <p class="text-danger fs-5 mt-2">500 Error</p>
            
        </div>    
    </div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>